main{
    position: relative;
}

.imgcontainer{
    position: absolute;
    top: 100px;
    width: 30rem;
    height: 20rem;
}

.imgcontainer>img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.d-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide{
    display: none;
}

.active{
    display: block;
}